.nav-root {
  position: absolute;
  top : 0;
  margin: 0;
  box-sizing: border-box;
  height: 60px;
  width: 100vw;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
  transition: border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.nav-root:hover {
  border-color: #969696;
  box-shadow: 0 0 10px 0px rgba(0,0,0,.5);
}
